@font-face {
    font-family: "Cybrpnuk2";
    src: url('font/Cybrpnuk2.ttf');
}

body {
    background-color: #3A3A3A;
}

h1 {
    color: #901E8A;
    font-family: Cybrpnuk2, Arial, sans-serif;
    
}

audio {
    display : flex;
    justify-content: flex-end;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.audio {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

iframe {
    width: 85%;
    height: 700px;
}